<link href="/css/styles.css" rel="stylesheet">

<body class="text-center">
    <main class="form-signin w-100 m-auto">
        {{>message}}
        <form method="post" action="signin">
            <img class="mb-4"
                src="https://w7.pngwing.com/pngs/544/1/png-transparent-computer-icons-login-icon-design-others-logo-silhouette-share-icon.png"
                alt="" width="72" height="57">
            <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
            <div class="form-floating">
                <input type="user" class="form-control" id="floatingInput" name="username"
                    placeholder="name@example.com">
                <label for="floatingInput">User</label>
            </div>
            <div class="form-floating">
                <input type="password" class="form-control" id="floatingPassword" name="password"
                    placeholder="Password">
                <label for="floatingPassword">Password</label>
            </div>
            <br>
            <div class="form-floating">
                <div class="btn-group" role="group" aria-label="Basic example">
                    <button type="submit" class="btn btn-success btn-lg">Sign in</button>
                    <a href="/forgot/password" type="button" class="btn btn-primary btn-lg">Forgot Password</a>
                </div>
            </div>
            <div class="form-floating">
                <a href="/signup">Register</a>
            </div>
            <p class="mt-5 mb-3 text-muted">&copy; Rojas–Plazas</p>
        </form>
    </main>
</body>