<link href="/css/styles.css" rel="stylesheet">

<body class="text-center">
    <main class="form-signin w-100 m-auto">
        {{>message}}
        <form method="post" action="/signup">
            <img class="mb-4"
                src="https://w7.pngwing.com/pngs/544/1/png-transparent-computer-icons-login-icon-design-others-logo-silhouette-share-icon.png"
                alt="" width="72" height="57">
            <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
            <div class="form-floating">
                <input type="user" class="form-control" id="floatingInput" name="username"
                    placeholder="name@example.com" required>
                <label for="floatingInput">User</label>
            </div>
            <div class="form-floating">
                <input type="text" class="form-control" id="floatingPassword" name="name" placeholder="Password"
                    required>
                <label for="floatingPassword">Name</label>
            </div>
            <div class="form-floating">
                <input type="mail" class="form-control" name="mail" placeholder="Password" required>
                <label for="floatingPassword">Mail</label>
            </div>
            <br>
            <button class="w-100 btn btn-lg btn-success" type="submit">Register</button>
            <div class="form-floating">
                <a href="/">Sign in</a>
            </div>
            <p class="mt-5 mb-3 text-muted">&copy; Rojas–Plazas</p>
        </form>
    </main>
</body>