<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand">Navbar ( {{user.name}} )</a>
        <form class="d-flex">
            <a href="/logout" type="button"class="btn btn-outline-success" type="submit">Logout</a>
        </form>
    </div>
</nav>